*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

/* general rules */
.container{
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */
nav{
    background-color: #0084FD;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container div{
    padding: 25px;
    background-color: orange;
    /* test */
}
/* end navbar */

/* features */
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.card{
    height: 350px;
    width: 100%;
    /* test */

    background-color: #B5DDFF;
}

.card div{
    height: 50%;
    border: dashed 1px red;
    /* test */
}

.card:first-child{
    display: flex;
    flex-direction: column;
}

/* media queries */
/* tablet view */
@media screen and (min-width:768px) {
    .container{
        max-width: 745px;
    }

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card{
        width: calc(100% / 3 - 25px);
    }

    .card:first-child{
        width: calc(100% / 3 * 2 - 25px / 2);
    }
}

/* desktop view */
@media screen and (min-width:1200px) {
    .container{
        max-width: 1140px;
    }

    .card:first-child{
        flex-direction: row;
    }

    .card:first-child div{
        height: 100%;
        width: 50%;
        /* test */
    }
}
