*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

/* general rules */
body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */
nav{
    background-color: #0084FD;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

main{
    overflow-y: auto;
    height: calc(100vh - 79px); /*navbar offset*/
    margin-top: 79px;
    line-height: 2em;
}

nav .fa-bars{
    font-size: 25px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0 20px 0;
}

.desktop-nav{
    display: none;
}
/* end navbar */

/* features */
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 30px;

    border-radius: 15px;
    padding: 30px;
    background-color: #B5DDFF;
    
}

.card:first-child{
    padding: 40px 30px 0;
}

.card .intro-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    
}

.card h3{
    font-size: 24px;
    color: #0084FD;
}

.card .button{
    max-width: 210px;
    padding: 10px;

    text-align: center;
    border-radius: 25px;
    background-color: #0084FD;
    font-weight: bold;
    color: white;
}

.card .button .fa-brands{
    padding: 0 5px;
}

.card img{
    max-width: 250px;
    max-height: 270px;
}

.card .fa-solid{
    color: #0084FD;
    font-size: 80px;
}

/* planning */
.back-purple{
    background-color: #9792E4;
}

.plan{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 60px 0;
    color: white;
}

.plan img{
    width: 100%;
}

.plan div:first-child img{
    padding-bottom: 80px;
}


.plan h2{
    display: block;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 50px;
}

.card-wht{
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    color: black;
    text-align: center;
}

.card-wht h3{
    font-size: 24px;
    padding-bottom: 25px;
}

.card-wht .fa-solid{
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
    background-color: #9792E4;
    margin-top: 35px;
}

/* testimonials */
.testimonials{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 65px 0;
}

.testimonials h2{
    padding: 40px 0;
    font-size: 30px;
    font-weight: bold;
    color: #9792E4;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding: 30px 20px;
    border-radius: 25px;

    color: white;
    background-color: #9792E4;
}

.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name{
    font-size: 20px;
    font-weight: bold;
    padding-top: 25px;
}

/* benefits */

.benefits h2{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
    color: white;
}

.flex-container{
    display: flex;
    flex-direction: column;

    gap: 35px;
    padding: 70px 0;
}

.benefit{
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 50px 30px 30px;
    border-radius: 15px;

    background-color: white;
}

.benefit strong{
    font-size: 35px;
    color: #9792E4;
}

.benefit .button{
    max-width: 145px;
    padding: 5px 0;
    border-radius: 25px;
    text-align: center;
    color: white;
    background-color: #9792E4;
}

.benefit h3{
    font-size: 22px;
    font-weight: bold;
    color: #9792E4;
}

/* about us */
.about-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;

    padding: 80px 0;
}

.about-us h2{
   font-size: 40px;
   font-weight: bold;
   color: #9792E4;
}

.about-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-quote{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

/* positions quotation marks in upper right pic corner */
.about-pic{
    position: relative;
}

.about-pic .fa-solid{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: #9792E4;
}

.about-quote strong{
    font-size: 28px;
    color: #9792E4;
}

.about-quote .button{
    width: 190px;
    padding: 3px 0;
    border-radius: 25px;
    text-align: center;
    color: white;
    background-color: #9792E4;
}

/* pricing */
.bottom-container{
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
}

.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 60px 0;
    text-align: center;
    color: white;
}

.pricing h2{
    font-size: 29px;
}

.pricing strong{
    font-size: 55px;
    font-weight: bold;
    color: #FDC15F;
}

.pricing a{
    color: white;
}

.pricing .button{
    width: 265px;
    padding: 15px 0;
    border-radius: 30px;

    font-weight: bold;
    color: #9792E4;
    background-color: white;
}

/* footer */
footer{
    padding: 40px 0;
    font-size: 13px;
    line-height: normal;
    text-align: center;
    color: white;
    background-color: #333333;
}

.ft-links{
    padding-top: 60px;
}

.ft-links a{
    color: #9792E4;
}

/* media queries */
/* tablet view */
@media screen and (min-width:768px) {
    .container{
        max-width: 745px;
    }

    

    /* features */
    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    .card{
        width: calc(100% / 3 - 25px);
    }

    .card:first-child{
        width: calc(100% / 3 * 2 - 25px);
    }

    /* planning */
    .plan{
        padding: 130px 0 60px;
    }

    .plan h2{
        font-size: 68px;
    }

    /* testimonials */
    .testimonial{
        flex-direction: row;
        align-items: center;   
    }

    /* benefits */
    .benefits .flex-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefit{
        width: calc(100% / 2 - 35px / 2);
    }

    /* about us */
    .about-us{
        flex-direction: row;
        justify-content: center;
        gap: 90px;

        padding: 80px 0 150px;
    }

    /* column becomes sized based on the picture, quote-info can grow with additional space */
    .about-quote{
        max-width: 200px;
    }

    /* pricing */
    .bottom-container{
        max-width: 557px;
    }

    .pricing{
        gap: 50px;
    }

    .pricing h2{
        font-size: 47px;
    }
}

/* desktop view */
@media screen and (min-width:1200px) {
    .container{
        max-width: 1140px;
    }

    /* nav */
    nav .fa-bars{
        display: none;
    }

    nav .desktop-nav{
        display: flex;
        align-items: baseline;
        gap: 30px;

        list-style: none;
    }

    .desktop-nav a{
        text-decoration: none;
        color: white;
    }

    .desktop-nav a:hover{
        text-decoration: underline;
    }

    .desktop-nav .button{
        padding: 10px 20px;
        border-radius: 25px;
        background-color: white;
        color: black;
    }

    .desktop-nav .button:hover{
        cursor: pointer;
        box-shadow: 0px 0px 10px;
    }

    /* features */
    .card:first-child{
        flex-direction: row;
    }

    .card:first-child img{
        align-self: flex-end;
    }

    /* planning */
    .plan{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
    }

    .plan h2{
        font-size: 23px;
    }

    .plan > div{
        max-width: calc(100% / 2 - 200px);
    }

    .card-wht img{
        max-width: 250px;
    }

    /* benefit */
    .benefit{
        width: calc(100% / 3 - 70px / 3);
    }
}
